.layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  box-sizing: border-box;

  :global {
    div.content {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-between;
    }
  }

  header > div {
    height: 40px;
  }

  aside > div {
    width: 60px;
    background-color: rgba(223, 223, 223, 0.5);
    height: 100%;
    &.full {
      width: 280px;
    }
  }
}

.modal {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  pointer-events: none;
}
