.section {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  li {
    min-width: 60px;
    height: 40px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
