.layout {
  display: flex;
  :global {
    div.content {
      display: flex;
    }
  }
}

.sidebar {
  color: green;
}

.modal {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  pointer-events: none;
}
