.page {
  background-color: seagreen;
  width: 100vw;
  height: 100vh;
  canvas {
    width: 100%;
    height: 100%;
  }
  :global {
    .box {
      width: 400px;
      height: 200px;
      border-radius: 4px;
      background-color: sienna;
      position: absolute;
      top: 10px;
      left: 20px;
    }
  }
}
