.section {
  :global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: 60px;
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
